* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
 font-size: 14px;
  height: 100%;
  width: 100%; }

.menu_link {
  font-size: 14px; }

.active {
  color: #fff; background: crimson;}

.header_infobar {
  font-size: 14px; }
