$main_font: "Raleway-SemiBold", sans-serif
$second_font: "Raleway-Regular", sans-serif
$third_font: "Roboto-Medium", sans-serif
$fourth_font: "Roboto-Light", sans-serif

*
	margin: 0
	padding: 0

html
	height: 100%

body
	font-size: 1em
	height: 100%
	font-family: $main_font
	background: linear-gradient(-128deg, #29abe2, #4f00bc)
	background-attachment: fixed

.login
	background: url(../img/ppk.jpg) no-repeat
	text-align: center
	background-size: cover
	background-attachment: fixed

.form-login
	background: #fff
	display: inline-block
	padding: 45px 0
	width: 270px
	vertical-align: middle
	border-radius: 5px
	box-shadow: 0 25px 70px -30px rgba(0,0,0,.5)
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)


.field
	background: none
	border: 1px solid rgba(45, 40, 35, .2)
	padding: 9px 15px
	color: rgba(57, 100, 210, .8)
	border-radius: 4px
	font: 1em $second_font 
	display: block
	margin: 0 auto
	margin-bottom: 30px
	&:focus
		border-color: rgba(57, 100, 210, .5)
		box-shadow: inset 0 0 10px -3px rgba(0,0,0,.2)
	&::-webkit-input-placeholder
		color: #d0d0d0
		font-size: 0.95em

.login__btn
	background: linear-gradient(-128deg, #29abe2, #4f00bc)
	width: 100%
	border-radius: 0 0 4px 4px
	font: 1em $second_font
	color: #fff
	border: none
	position: absolute
	padding: 10px 0
	left: 0
	bottom: 0
	cursor: pointer
	&:hover
		opacity: .95

.login__error
	background: #fff
	color: rgba(239, 84, 84, 0.88)
	font-family: Raleway Semibold
	font-size: 0.9em
	width: 203px
	margin: 0 auto
	margin-bottom: 19px

a
	text-decoration: none

input
	outline: none

.wrapper
	width: 960px
	margin: 0 auto
	text-align: center
	position: relative

.header
	position: relative
	.header_menu
		padding-top: 120px
	.header_infobar
		font-size: 0.9em
	.menu
		list-style: none
		.menu_elem
			display: inline-block
			.menu_link
				color: #fff
				padding: 10px 18px
				border-radius: 25px
				font: 1em $second_font
				&:hover
					opacity: .7
			.link__active
				color: #3868d3
				background: #fff
				font-family: $main_font
				&:hover
					opacity: 1
	.header_infobar
		background-color: #fff
		position: absolute
		top: 0
		right: 0
		border-radius: 0 0 4px 4px
		padding: 8px 16px
		box-shadow: 0 2px 10px rgba(0,0,0,.15)
		color: #2f8edc

		#logout
			margin-left: 40px
			color: #9f9f9f

.main
	background: #fff
	margin: 50px 0
	border-radius: 4px
	display: inline-block
	padding: 50px 80px
	box-shadow: 0 20px 35px rgba(0,0,0,.1)

	.main_title
		color: #464646
		font-size: 1.8em;

	.group_name
		width: 126px
		height: 42px
		line-height: 42px
		display: inline-block
		background: linear-gradient(16deg, #364dbb, #438dda)
		border-radius: 40px
		font-size: 1.3em
		color: #fff
		text-shadow: 0 2px 2px rgba(0,0,0,.18)
		font-family: $third_font
		position: relative
		&:hover .btn_edit_group
			display: block

		.error
			display: none
			width: 250px
			text-shadow: none
			font-size: 0.7em
			color: crimson
			border-radius: 4px
			background: #ffdfdf
			border: 1px solid #ffbaba
			position: absolute
			top: -55px
			right: 50%
			margin-right: -125px
			&::before
				content: ""
				display: block
				width: 0
				height: 0
				border: 10px solid transparent
				border-top: 10px solid #ffbaba
				position: absolute
				bottom: -20px
				right: 50%
				margin-right: -5px

		.btn_edit_group
			display: none
			width: 15px
			height: 15px
			background: url(../img/edit_group.png) no-repeat;
			background-size: cover
			position: absolute
			top: 13px
			right: 20px
			opacity: .7
			cursor: pointer

		.new_group, .edit_group
			border: none
			display: block
			background: #fff
			font-size: 1em
			color: #2d2d2d
			border: 2px dashed #2d2d2d
			line-height: 42px
			text-align: center
			width: 100%
			font-family: $third_font
			&::-webkit-input-placeholder
				color: rgba(255, 255, 255, .65)
				font-size: 0.9em
		
	.group_table
		margin-top: 50px
		overflow: hidden

	.table
		border-collapse: collapse
		margin: 0 auto			
		margin-bottom: 25px
		border-radius: 4px

		th, td
			position: relative
			padding: 10px 30px
			color: #555658

		th
			border-bottom: 1px solid #dadef9
			padding-top: 0
			font-family: $main_font
			font-weight: 700
			color: #212121
			padding-bottom: 20px
			&:nth-child(2)
				padding-left: 15px

		tr:hover td
			background: #f6f6f6

		tr:nth-child(2n+1) td
			background: #f6f6f6

		td
			background: none
			color: #808194
			font-family: $main_font
			&:hover
				.del_stud, .edit_stud
					position: absolute
					right: 20px
					top: 50%
					width: 15px
					height: 15px
					margin-top: -7.5px
					background: url(../img/del_stud.png) no-repeat
					background-size: cover
					cursor: pointer

				.edit_stud
					right: 45px
					background: url(../img/edit_stud.png) no-repeat
					opacity: .7

			.stud_new_name
				border: none
				font-size: 1em
				font-family: $main_font
				color: #4e4e4e
				width: 100%
				background: transparent

			&:first-child
				font-family: $third_font

			&:nth-child(2)
				padding-right: 70px
				text-align: left
				padding-left: 15px

		.table_name
			min-width: 300px
			text-align: left

	#add_student
		position: relative
		width: 362px
		margin: 0 auto
		margin-top: 50px		

		input[type="text"]
			padding: 8px 25px
			padding-right: 35px
			border: 1px solid #d4d4d4
			border-radius: 4px
			background: #fff
			color: #989898
			font-size: 0.9em
			font-family: $main_font
			width: 300px
			&::-webkit-input-placeholder
				font-family: $fourth_font					

		input[type="submit"]
			background: none
			border: none
			font-size: 1.5em
			border-radius: 30px
			color: #afafaf
			cursor: pointer
			position: absolute
			top: 4px
			right: 25px
	
	.attend_table
		.table
			.mark
				width: 30px
				font-size: 1.2em
				border: none
				text-align: center
				background: transparent
				font-family: $fourth_font
				color: #616161

			td
				border: 1px solid #e2e2e2
				
			td:nth-of-type(5n)
				border-right: none

 //Выходные
	.month
		display: inline-block
		font-family: "Lato"
		margin-right: 35px
		margin-top: 50px

		.month_name
			font-family: $main_font
			margin-bottom: 20px
			background: #e96056
			color: #fff
			padding: 5px 0
			text-shadow: 0 2px 2px rgba(0,0,0,.15)

		.month_select
			td
				padding: 5px

		.weekend_select
			background: #da5959
			color: #fff
			border-radius: 50%

		.week_name
			font-family: $main_font

		.weekend
			display: block
			width: 30px
			height: 30px
			line-height: 30px
			text-align: center
			cursor: pointer

		.weekend__red
			color: #e40000
			font-weight: bold

		.date_off
			color: #a9a9a9
			cursor: default

		.date_on
			cursor: pointer			

	.month:nth-of-type(3n)
		margin-right: 0

	.month__nomargin
		margin-right: 0	


//Отчёты
.report:first-of-type
	margin: 0

.main_nopadding
	padding: 50px 0

.report
	border: 1px solid rgba(0,0,0,.15);
	height: 60px
	line-height: 60px
	padding: 0 25px
	position: relative
	margin-top: 20px
	width: 370px
	text-align: left

	.report_month
		font: 18/16*1em $second_font
		color: #8d8b8b
		display: inline-block
		padding-right: 60px

	.report_download
		display: inline-block
		background: linear-gradient(76deg, #5eb66d, #b3df73);
		color: #fff
		padding: 7px 25px
		border-radius: 30px
		font: 14/16*1em $second_font
		text-shadow: 0 2px 2px rgba(0,0,0,.2)
		cursor: pointer
		float: right
		margin-top: 15px
		&:hover
			opacity: .85
		&:active
			box-shadow: inset 0 0 10px -3px rgba(0,0,0,.9)

	.report_create
		display: inline-block
		border: 1.3px dashed #585858
		color: #656565
		line-height: 1
		padding: 7px 20px
		border-radius: 30px
		font-size: 14/16*1em
		cursor: pointer
		&:hover
			background: #585858
			color: #fff

	.report_create__right
		float: right
		margin-top: 15px

.c-label
	display: block
	text-align: center
	padding: 0 80px
	margin-bottom: 25px